[core]
	autocrlf = input
	editor = "nano"
	excludesfile = ~/.gitignore
[user]
	name = nekketsuuu
	email = nekketsuuu@users.noreply.github.com
[ghq]
	root = ~/dev/src
[gpg]
	format = ssh
[gpg "ssh"]
	defaultKeyCommand = git-ssh-default-key
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[push]
	default = simple
[alias]
	branches = branch -a
	graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
	history = log -10 --format=format:'%Cgreen%h %Creset• %s (%cN, %ar)'
	last = log -1 HEAD --format=format:"%Cred%H"
	m = !git switch \"$(git symbolic-ref refs/remotes/origin/HEAD | cut -d/ -f4)\"
	main = !git m
	master = !git m
	precommit = diff --cached -w --word-diff=color --word-diff-regex='[^[:space:]<>]+'
	stashes = stash list
	tags = tag
	uncommit = reset --mixed HEAD~
	unstage = reset -q HEAD --
	# The trailing hash symbol is for ignoring the given argument
	wt = "![ \"x$#\" == \"x1\" ] && git worktree add -b \"$1\" \"$(git rev-parse --git-common-dir)/../.worktrees/$1\" && cd \"$(git rev-parse --git-common-dir)/../.worktrees/$1/$(git rev-parse --show-prefix)\" #"
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
